---
id: packages
layout: page
scripts:
  - "/js/build/packages.js"
title: PeerTube packages
---
<div id="pkg-featured">
  <!--will be replaced by react-->
  <div class="row">
    <div class="col-md-6">
      <div class="pkg-featured-pkg"></div>
      <div class="pkg-featured-pkg"></div>
      <div class="pkg-featured-pkg"></div>
    </div>
    <div class="col-md-6">
      <div class="pkg-featured-pkg"></div>
      <div class="pkg-featured-pkg"></div>
      <div class="pkg-featured-pkg"></div>
    </div>
  </div>
</div>
