$navbar-link-height: 0.425rem;
$navbar-height: ($navbar-padding-y * 2) + ($navbar-link-height * 2) +
  ($font-size-base * $line-height-base);

.navbar-icon {
  position: relative;
  top: -2px;
  height: 20px;
  vertical-align: middle;

  path {
    fill: $navbar-light-color;

    .navbar-light .nav-item .nav-link:hover &,
    .navbar-light .nav-item .nav-link:focus & {
      fill: $navbar-light-hover-color;
    }

    .navbar-light .nav-item.active .nav-link &,
    .navbar-light .nav-item.open > .nav-link & {
      fill: $navbar-light-active-color;
    }
  }
}

.navbar-logo {
  float: left;
  height: 2.6rem;
  margin-bottom: -0.2rem;
  margin-right: $navbar-padding-x * 2;
}

.navbar-logo .logo-primary {
  fill: rgba(44, 142, 187, 1);
  transition: fill 500ms ease;
}

.navbar-logo-text {
  float: left;
  height: 2.6rem;
  margin-bottom: -0.2rem;
  margin-right: $navbar-padding-x * 2;
  padding: $navbar-padding-y $navbar-padding-x;
}

@include media-breakpoint-down('md') {
  .navbar-toggleable-md {
    clear: both;
  }

  .navbar-nav-right.navbar-nav .nav-item {
    float: left;
    margin-right: $navbar-padding-x;
  }

  .navbar-nav-right.navbar-nav .dropdown-menu {
    position: absolute;
  }
}

@include media-breakpoint-down('xs') {
  .navbar-nav-right.navbar-nav .dropdown {
    float: none;
  }
}

// Waiting on next release of bootstrap on cdnjs (.open was renamed to .show)
.open {
  @extend .show;
}
